<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190230034-p8odjonuln3gh9rurg14pridphrkntcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190230034-p8odjonuln3gh9rurg14pridphrkntcs</string>
	<key>API_KEY</key>
	<string>AIzaSyCzB0FhuAdUTkrnm2zWmbLA-1wFmL3sxxs</string>
	<key>GCM_SENDER_ID</key>
	<string>190230034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.iupui.hamiltcs.MuscleApp</string>
	<key>PROJECT_ID</key>
	<string>hamiltcs-4110-muscleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hamiltcs-4110-muscleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190230034:ios:85d9a794564d1be8cd72cb</string>
</dict>
</plist>